.mainDiv{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
input{
  border: black;
  border-style:ridge;
  border-radius: 9px;
  margin-left: 10px;
}
.contactInfo{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
li{
  cursor: pointer;
}