.mainDiv {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  position: relative;
}
.nameDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.topDiv {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.mainDiv .dot {
  color: rgb(255, 255, 255);
}

.nameInDiv {
  font-family: "Courier New", Courier, monospace;
}
