@media (max-width: 1600px) {
  .headlineDiv {
    font-size: 3.4em;
  }
}
@media (max-width: 1023px) {
  .headlineDiv {
    font-size: 1.5em;
  }
}
@media (max-width: 450px) {
  .headlineDiv {
    font-size: 16px;
  }
}
.mainGetDiv {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  position: relative;
}
.nameDiv {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.topDiv {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.mainGetDiv .dot {
  color: rgb(255, 255, 255);
}

.nameInDiv {
  font-family: "Courier New", Courier, monospace;
}
