@media (max-width: 2570px) {
  .animationDiv {
    font-size: 4em;
  }
}

@media (max-width: 1600px) {
  .animationDiv {
    font-size: 3.4em;
  }
}
@media (max-width: 1025px) {
  .animationDiv {
    font-size: 3em;
  }
}
@media (max-width: 450px) {
  .animationDiv {
    font-size: 32px;
  }
}

@keyframes shake {
  0% {
    transform: translate(11px, 11px) rotate(10deg);
  }
  10% {
    transform: translate(-11px, -12px) rotate(-12deg);
  }
  20% {
    transform: translate(-13px, 10px) rotate(12deg);
  }
  30% {
    transform: translate(13px, 12px) rotate(10deg);
  }
  40% {
    transform: translate(12px, -11px) rotate(12deg);
  }
  50% {
    transform: translate(-13px, 12px) rotate(-12deg);
  }
  60% {
    transform: translate(-15px, 11px) rotate(0deg);
  }
  70% {
    transform: translate(14px, 11px) rotate(-2deg);
  }
  80% {
    transform: translate(-11px, -12px) rotate(2deg);
  }
  90% {
    transform: translate(11px, 13px) rotate(0deg);
  }
  100% {
    transform: translate(11px, -13px) rotate(-2deg);
  }
}

.shaking {
  display: inline-block;
  animation: shake 0.5s; /* Duration of the shaking */
  animation-iteration-count: 1; /* Only shake once */
}

.animationDiv {
  font-family: -moz-initial;
  /* position: relative; */
  /* color: rgb(252, 99, 44); */
}
.animationDiv {
  background: linear-gradient(
    to right,
    rgb(249, 37, 37),
    /* rgb(255, 8, 140),
    rgb(88, 88, 243), */ rgb(70, 70, 252)
  );
  background-clip: text;
  color: transparent;
}
